# 数据库
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=ecloud123
DB_NAME=ecloud_platform

# Django
DJANGO_DEBUG=false
DJANGO_SECRET_KEY=change-this-to-a-random-string

# 平台
ECLOUD_ACCESS_KEY=YOUR_ACCESS_KEY
ECLOUD_SECRET_KEY=YOUR_SECRET_KEY
